/*----------main----------*/
main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 12px;
    box-sizing: border-box;
    width: 84vw;
}

/*----------header----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212e0;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
}

.header-nav button {
    background-color: #6B0000;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    width: 30px;
    margin: 5px;
}

.header-search {
    display: flex;
    align-items: center;
    position: relative;
}

.header-search input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    width: 360px;
    padding: 8px 35px 8px 8px;
    color: white;
    outline: none;    
}

.fa-magnifying-glass {
    position: absolute;
    right: 5px;
}

.header-login button {
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.subscribe {
    background-color: white;
    border: 1px solid #6B0000;
    color: #6B0000;
}

.login {
    background-color: #6B0000;
    border: 1px solid white;
    color: white;
}

/*----------container and greetings----------*/
.card-container {
    background-color: #121212e0;
    border-radius: 8px;
    padding: 24px;
}

.greetings h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.greetings h2 {
    font-size: 24px;
    color: #b3b3b3;
}

/*----------card grid----------*/
.card-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.card {
    position: relative;
    width: 220px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.card span {
    position: absolute;
    padding: 10px;
    font-size: 24px;
    color: white;
}

/*----------card background----------*/
.card1 {
    background-color: rgb(0, 100, 80);
}
.card2 {
    background-color: rgb(132, 0, 231);
}
.card3 {
    background: rgb(30, 50, 100);
}
.card4 {
    background: rgb(140, 25, 50);
}
.card5 {
    background: rgb(232, 17, 17);
}
.card6 {
    background: rgb(83, 122, 161);
}
.card7 {
    background: rgb(142, 102, 172);
}
.card8 {
    background: rgb(20, 138, 8);
}
.card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}

.card-grid img {
    position: absolute;
    bottom: 0;
    width: 220px;
    height: 160px;
}

/*----------card scrolling----------*/
.card-scroll {
    max-height: 60vh;
    margin: 24px;
    overflow-y: auto;
}

.card-scroll::-webkit-scrollbar {
    width: 1px;
}

.card-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}