@import "tailwindcss";

* {
  font-family: "Russo One", sans-serif;
  box-sizing: border-box;
}

body {
  background: url(/assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

button {
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-areas: 
    'aside header'
    'aside main'
    'div main'
    'footer footer';
  grid-auto-columns: 300px 1fr;
  grid-auto-rows: 60px 130px 10fr 80px;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

aside, .library, header, main {
  background-color: #121212e0;
  color: #b3b3b3;
  border-radius: 8px;
}

aside {
  grid-area: aside;
  padding: 16px;
}

div.library {
  grid-area: div;
  padding: 16px;
}

header {
  grid-area: header;
  padding: 12px;
}

main {
  grid-area: main;
  padding: 24px;
}

footer {
  grid-area: footer;
  background: linear-gradient(to right, #121212f6, #800000f5);
  color: #b3b3b3;
  padding: 12px;
}

/* header arrow animations */
.fa-chevron-left:active {
  animation: slideEffectLeft 0.3s ease-in-out;
}

@keyframes slideEffectLeft {
  0% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.fa-chevron-right:active {
  animation: slideEffectRight 0.3s ease-in-out;
}

@keyframes slideEffectRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
